{% extends "entries/base.html" %}

{% block content %}
  <form method="get" class="search-form">
    {{ search_form.query.label_tag }} {{ search_form.query }}
    {{ search_form.tags.label_tag }}  {{ search_form.tags }}
    {{ search_form.date_from.label_tag }} {{ search_form.date_from }}
    {{ search_form.date_to.label_tag }}   {{ search_form.date_to }}
    <button type="submit">Search</button>
    <a href="{% url 'entry-list' %}">Clear</a>
  </form>
  <hr>

  {% for entry in entry_list %}
    <article class="journal-card">
      <header class="journal-card__header">
        <time>{{ entry.date_created|date:"F j, Y H:i" }}</time>
      </header>
      <div class="journal-card__body">
        <h3>
          <a href="{% url 'entry-detail' entry.id %}">{{ entry.title }}</a>
        </h3>
        <p>
          {{ entry.body_html|truncatewords:30|safe }}
        </p>
      </div>
    </article>
  {% empty %}
    <p>No entries found.</p>
  {% endfor %}
{% endblock content %}

